<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Michael Bull" />
    <meta name="description" content="A recreation of the Hacker News website written in TypeScript and built using Aurelia." />
    <meta name="keywords" content="hacker news, website, typescript, javascript, aurelia, framework" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="theme-color" content="#FF00FB" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Hacker News" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i">
    <link rel="author" href="https://www.michael-bull.com" />

    <link rel="icon" type="image/png" sizes="120x120" href="<%= require('./assets/aurelia-logo.png').default %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('./assets/aurelia-logo.png').default %>" />

    <title>Aurelia HN</title>
  </head>

  <body>
    <div aurelia-app="main">

      <nav class="nav-bar">
        <div class="nav-bar__wrapper">
          <img
            class="nav-bar__logo-img"
            src="<%= require('./assets/aurelia-logo-white.png').default %>"
            alt="Aurelia HN"
            width="40" height="40"
          />
          <span class="nav-bar__title">Aurelia&nbsp;HN</span>
        </div>
      </nav>

      <div class="loader">
        <div class="loader__logo">
          <%= require('svg-inline-loader!./assets/logo.svg') %>
        </div>

        <div class="loader__bars">
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
          <div class="loader__bar"></div>
        </div>
      </div>
    </div>
  </body>
</html>
