body {
  min-width: 290px;

  background-color: $white;

  overflow-x: hidden; // Stop content overflow creating an unnecessary horizontal scroll-bar in IE
  overflow-y: scroll; // Force vertical scroll-bar to always appear
}
