$sans-serif-font-stack: (
  Verdana,
  Geneva,
  sans-serif
);

$vertical-rhythm: 1.5rem;

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: $sans-serif-font-stack;
  color: $scorpion;
}

p {
  margin-top: 0;
  margin-bottom: $vertical-rhythm;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $vertical-rhythm * 3;
  margin-bottom: 0.3em;

  line-height: 1.2;
  color: $cod-gray;
}

a {
  color: $scorpion;
  text-decoration: underline;

  &:visited {
    color: $gray;
  }
}
