::selection {
  background-color: $pattens-blue;
  text-shadow: inherit;
  color: inherit;
}

html {
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1rem;
  font-family: $sans-serif-font-stack;
  color: $cod-gray;
  text-rendering: optimizeLegibility;
}

pre, code, kbd, samp {
  font-family: $monospace-font-stack;
}

// inline code blocks
code {
  border-radius: 4px;
  background-color: $alabaster-white;
  padding: 2px 4px;
  word-wrap: break-word;
}

// fenced code blocks
pre {
  display: block;
  margin: 0 0 0.5em;
  padding: 1em;
  line-height: 1.4;

  color: $scorpion;
  background-color: $alabaster-white;

  word-wrap: normal;
  overflow-x: auto;

  white-space: pre;
  tab-size: 4;

  code {
    display: block;
    position: relative;
    border-radius: 0;
    padding: 0;
    font-size: 1em;
    word-wrap: normal;
  }
}
