html,
body {
  height: 100%;
}

body {
  margin: 0;

  min-width: 290px;

  background: $spring-wood;

  overflow-x: hidden; // Stop content overflow creating an unnecessary horizontal scroll-bar in IE
  overflow-y: scroll; // Force vertical scroll-bar to always appear
}
