header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $header-height;
  z-index: $header-z-index;

  background-image: linear-gradient(to right, $torch-red, $purple-pizzazz);

  box-shadow: (
    0 1px 0 rgba(12, 13, 14, 0.1),
    0 1px 3px rgba(12, 13, 14, 0.1),
    0 4px 20px rgba(12, 13, 14, 0.035),
    0 1px 1px rgba(12, 13, 14, 0.025)
  );
}
