main {
  margin: {
    top: $nav-bar-height;
    left: auto;
    right: auto;
  }

  width: 100%;
  max-width: $medium-width;

  background-color: $white;
  box-shadow: (
    0 26px 40px 1px rgba(0, 0, 0, 0.08),
    0 0 8px 0 rgba(0, 0, 0, 0.12)
  );

  animation: fade-in 500ms;

  @include breakpoint($medium) {
    margin: {
      top: calc(#{$nav-bar-height} + 1em);
      bottom: 4em;
    }
  }
}
