.comment {
  position: relative;

  margin-top: 1rem;

  padding: {
    top: 1rem;
    right: 0;
    left: 2rem;
    bottom: 1rem;
  }

  font-size: 0.875rem;

  border: 1px solid $iron;
  background-color: $alabaster-white;

  .comment {
    border-right-width: 0;
    background-color: $white;

    .comment {
      background-color: $alabaster-white;

      .comment {
        background-color: $white;

        .comment {
          background-color: $alabaster-white;

          .comment {
            background-color: $white;
          }
        }
      }
    }
  }
}

.comment--collapsed {
  padding: {
    top: 0.5rem;
    bottom: 0.5rem;
  }
}

.comment__toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  padding: 0;
  border: 0;

  width: 14px;
  height: 100%;

  font-size: 0;
  text-align: center;
  background-color: transparent;
  color: $gray;
  transition: background-color 200ms;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $white-pointer;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    font-size: 1rem;
    line-height: 3;
    content: '-';
  }
}

.comment__toggle--collapsed {
  &::after {
    line-height: 2;
    content: '+';
  }
}

.comment__author {
  color: $gray;
  font-size: 0.75rem;
}

.comment__author-link {
  color: $purple-pizzazz;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.comment__link {
  padding-right: 0.25em;

  color: $gray;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.comment__text {
  @include post-text();

  padding: {
    top: 0.5rem;
    right: 1rem;
    bottom: 0;
  }
}

.comment__reply {
  padding: 0;
  list-style-type: none;
}

.comment__more-link {
  margin: {
    top: 1em;
    left: 1em;
  }

  display: block;
  font-size: 1rem;
  color: $torch-red;

  &:visited {
    color: $purple-pizzazz;
  }
}
