.comment {
  max-width: 1215px;

  font-size: 0.75rem;
  list-style-type: none;
}

.comment__toggle {
  padding-right: 0.25em;

  font-size: 0.625rem;
  color: $gray;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-decoration: underline;
  }
}

.comment__author {
  display: inline-block;
  margin: 0 0 0.35em;
  padding: 0;

  color: $gray;
  font-size: 0.625rem;
}

.comment__text {
  padding: 0 0 0 1.5em;
  margin: 0 0 1.5em;

  p {
    margin-top: 0.75em;
    margin-bottom: 0;
  }

  a {
    color: $scorpion;
    text-decoration: underline;

    &:visited {
      color: $gray;
    }
  }
}

.comment__reply {
  list-style-type: none;
}
