.item-preview {
  margin: 0 0 1em;
  padding: 0 0 1em;

  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: none, linear-gradient(to left, $fuchsia-blue 1%, $wild-strawberry 50%, $fuchsia-blue 100%);
}

.item-preview__link {
  color: $cod-gray;
  text-decoration: none;

  &:visited {
    color: $gray;
  }
}

.item-preview__site-link {
  color: $gray;
  font-size: 0.875rem;
}

.item-preview__info {
  margin-top: 0.4em;
  margin-bottom: 0;

  color: $gray;
  font-size: 0.8125rem;
}

.item-preview__author-link,
.item-preview__comments-link {
  color: $fuchsia-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
