.item-preview {
  margin: 0;
  padding: 0;
}

.item-preview__link {
  color: $cod-gray;
  text-decoration: none;

  &:visited {
    color: $gray;
  }
}

.item-preview__hostname-link {
  color: $gray;
  font-size: 0.625rem;
}

.item-preview__info {
  margin-top: 0.4em;
  margin-bottom: 0;

  color: $gray;
  font-size: 0.625rem;
}

.item-preview__comments-link {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
