.item-preview {
  padding: 0;
  margin: 0;
}

.item-preview--comment {
  font-size: 0.75rem;
  margin-bottom: 0.35em;
}

.item-preview--story,
.item-preview--job {
  margin: 0 0 1em;
  padding: 0 0 1em;
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-image: none, linear-gradient(to left, $purple-pizzazz 1%, $torch-red 50%, $purple-pizzazz 100%);
}

.item-preview__title {
  display: inline;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}

.item-preview__link {
  color: $cod-gray;
  text-decoration: none;

  &:visited {
    color: $gray;
  }
}

.item-preview__site-link {
  color: $gray;
  font-size: 0.875rem;
}

.item-preview__info {
  margin-top: 0.4em;
  margin-bottom: 0;

  color: $gray;
  font-size: 0.8125rem;
}

.item-preview__author-link,
.item-preview__comments-link {
  color: $purple-pizzazz;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.item-preview__comments-link {
  white-space: nowrap;
}
