.nav-bar {
  padding: 0.125em;
  margin: 1em 0;

  background-color: $blaze;
  font-size: 0.875rem;
}

.nav-bar__ycombinator {
  border: 1px $white solid;
  vertical-align: middle;
}

.nav-bar__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-weight: bold;
  vertical-align: middle;
}
