.news-item {
  padding-left: 1em;
  padding-right: 1em;
}

.news-item__deleted {
  margin: 0;
  padding: 0 1em 1em;
}

.news-item__text {
  @include post-text();
  padding-left: 1em;
}

.news-item__no-comments {
  margin: 4em 0 0;
  padding: 0 0 2em;
  font-size: 0.875rem;
}

.news-item__comments {
  margin: 4em 0 0;
  padding: 0 0 1em;
  list-style-type: none;
}
