.news-item {
  padding-left: 2em;
}

.news-item__title {
  font-size: 0.875rem;
  text-decoration: none;
  color: $cod-gray;

  &:visited {
    color: $gray;
  }
}

.news-item__site-link {
  color: $gray;
  font-size: 0.625rem;
}

.news-item__info {
  margin-top: 0.5em;
  margin-bottom: 1em;

  color: $gray;
  font-size: 0.5625rem;
}

.news-item__text {
  padding: 0;
  margin: 0;

  color: $gray;
  font-size: 0.8125rem;

  p {
    margin-top: 1em;
    margin-bottom: 0;
  }

  a {
    color: $scorpion;
    text-decoration: underline;

    &:visited {
      color: $gray;
    }
  }
}

.news-item__no-comments {
  margin: 4em 0 0;
  padding: 0 0 2em;
  font-size: 0.875rem;
}

.news-item__comments {
  margin: 4em 0 0;
  padding: 0 0 1em;
}
