.paginator {
  padding: 1em;
  user-select: none;
  border-top: 2px solid $blaze;
  background-color: $spring-wood;

  @media (max-width: $tablet-breakpoint) {
    position: fixed;
    bottom: 0;
    left: 0;

    padding: 0.75em 0 1.25em;
    width: 100%;
    text-align: center;

    box-shadow: 0 2px 16px $cod-gray;
  }
}

.paginator__selector {
  border: 1px solid $quill-gray;
  border-radius: 2px;

  color: $gray;
  background-color: $spring-wood;
  text-decoration: none;

  font-size: 1rem;
  padding: 0.25em 1em;

  @media (max-width: $tablet-breakpoint) {
    font-size: 1rem;
    padding: 0.4em 0.75em;
  }

  &:hover {
    background-color: $white;
  }

  &:active {
    box-shadow: inset 0 3px 6px 0 $gray-nickel;
  }
}

.paginator__selector--disabled {
  cursor: not-allowed;

  &:hover {
    background-color: $spring-wood;
  }

  &:active {
    box-shadow: none;
  }
}

.paginator__current {
  display: inline-block;
  width: 8em;

  color: $gray;
  font-size: 0.875rem;
  text-align: center;

  @media (max-width: $tablet-breakpoint) {
    font-size: 0.75rem;
  }
}
