.story-list {
  display: block;
  margin: 0;

  padding: {
    top: 0;
    right: 1em;
    left: 0;
    bottom: 1em;
  }
}

.story-list__item {
  position: relative;
  padding-left: 3em;
  margin-bottom: 1.25em;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($medium) {
    margin-bottom: 0;
  }
}

.story-list__index {
  position: absolute;
  top: 0.15em;
  left: 0;

  width: 2em;

  font-size: 0.875rem;
  color: $gray;
  text-align: right;
}
