.story-list {
  margin: 0;
  padding: 0 1em 1em 0;
  font-size: 0.8125rem;

  @media (max-width: $tablet-breakpoint) {
    padding-bottom: 5em;
  }
}

.story-list__loading {
  margin: 0;
  padding: 0 0 0 1em;
}

.story-list__item {
  position: relative;
  padding-left: 3em;
  margin-bottom: 0.75em;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 1.25em;
  }
}

.story-list__index {
  position: absolute;
  top: 0;
  left: 0;

  width: 2em;

  color: $gray;
  text-align: right;
}
