<template class="comment ${expanded ? '' : 'comment--collapsed'}">
  <div class="comment__author">
    <a class="comment__author-link" route-href="route: user; params.bind: { id: comment.by }">
      ${comment.by}
    </a>
    &ensp;
    <a class="comment__link" route-href="route: item; params.bind: { id: comment.id}">
      ${comment.time | timeago}
    </a>
  </div>

  <button class="comment__toggle ${expanded ? '' : 'comment__toggle--collapsed'}" click.delegate="toggle()">
    [${expanded ? '-' : '+' + replies.length}]
  </button>

  <p class="comment__text" innerhtml.one-way="text()" if.bind="expanded"></p>

  <template if.bind="depth === MAX_DEPTH">
    <a class="comment__more-link" route-href="route: item; params.bind: { id: comment.id}">
      View more replies…
    </a>
  </template>

  <ul class="comment__reply" if.bind="replies.length > 0 && depth < MAX_DEPTH && expanded">
    <template repeat.for="reply of replies">
      <template if.bind="reply !== null && !reply.deleted">
        <li
          as-element="hn-comment"
          comment.bind="reply"
          depth.bind="depth + 1">
        </li>
      </template>
    </template>
  </ul>
</template>
