<template>
  <li class="comment" if.bind="!comment.deleted">
    <p class="comment__author">
      <span click.delegate="toggle()" class="comment__toggle">
        [${expanded ? '-' : '+' + replies.length}]
      </span>

      <a class="comment__author-link" route-href="route: user; params.bind: { id: comment.by }">
        ${comment.by}
      </a>

      <a class="comment__link" route-href="route: item; params.bind: { id: comment.id}">
        ${comment.time | dateFormat}
      </a>
    </p>

    <p class="comment__text" innerhtml.one-way="text()" if.bind="expanded"></p>
  </li>

  <template if.bind="depth === MAX_DEPTH">
    <a class="comment__more-link" route-href="route: item; params.bind: { id: comment.id}">
      View more replies…
    </a>
  </template>

  <template if.bind="depth < MAX_DEPTH">
    <ul class="comment__reply" repeat.for="reply of replies" if.bind="expanded">
      <hn-comment comment.bind="reply" depth.bind="depth + 1"></hn-comment>
    </ul>
  </template>
</template>
