$cod-gray: hsl(0, 0%, 10%);
$scorpion: hsl(0, 0%, 35%);
$gray: hsl(0, 0%, 51%);
$gray-nickel: hsl(60, 4%, 76%);
$quill-gray: hsl(60, 8%, 85%);
$spring-wood: hsl(60, 28%, 95%);
$white: hsl(0, 0%, 100%);

$carnation-pink: hsl(321, 100%, 80%);
$blaze: hsl(24, 100%, 50%);
