$cod-gray: hsl(0, 0%, 10%);
$scorpion: hsl(0, 0%, 35%);
$gray: hsl(0, 0%, 51%);
$gray-nickel: hsl(60, 4%, 76%);
$quill-gray: hsl(60, 8%, 85%);
$cararra: hsl(60, 8%, 90%);
$spring-wood: hsl(60, 28%, 95%);
$alabaster-white: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$pattens-blue: hsl(206, 100%, 91%);
$carnation-pink: hsl(295, 100%, 85%);
$vivid-violet: hsl(285, 40%, 38%);
$brick-red: hsl(341, 65%, 48%);
